.header{
    position: absolute;
}
.DRsection1{
    padding-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.DRsection1 div{
    width: 30%;
    height: 40vh;
    background-color: #999;
    margin: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.homePage{
    width: 100%;
    height: 100vh;
    margin: auto;
    background-image: url(../img/h-2.jpg);
    background-size: 100% 100%;
    /* background-repeat: no-repeat; */
    
}
.DRsection1 div button{
    width: 25%;
    margin-top: 10vh;
    background-color: transparent;
    border: 0;
    padding: 1vh;
    color: #fff;
    font-size: 20px;
}
.DRsection1 div button:hover{
    border: 3px solid #666;
    border-radius: 10px;

}
.DRsection1 div h4{
    opacity: 0.7;
}
.section2 .cont{
    width: 80%;
    height: 80vh;
    background-color: #777;
    margin: auto;
    margin-bottom: 2vh;
}
.section2 .cont .h1{
    margin-left: 2vh;
    border: 0;
    background-color: transparent;
    display: block;
}
.none{
    display: none;
}

































@media (max-width: 390px) {
    .DRsection1{
        display: flex;
        flex-direction: column;
    }
    .DRsection1 div{
        width: 90%;
        height: 50vh;
        background-color: #999;
        margin: 5%;
    }
}









[data-aos][data-aos][data-aos-duration="400"], body[data-aos-duration="400"] [data-aos] {
    transition-duration: .8s;
}